/* Google fonts (Poppins Light 300) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap');

/* Css boilerplate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

/* Styling from here  */

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4f4;
}
#profile-card{
    max-width: 370px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 5px 7px rgb(174, 174, 174);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#profile-card::before{
    content: '';
    background-color: rgb(69, 45, 74);
    height: 35%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 26px 26px 0 0;
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(69, 45, 74);
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-image{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}
#profile-card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(69, 45, 74);
}
.text .name{
    font-size: 23px;
    font-weight: 500;
}
.text .job{
    font-size: 15px;
    font-weight: 400;
}
#profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.media-buttons .link{
    display: flex;
    background-color: rgb(69, 45, 74);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin: 0px 5px;
    font-size: 20px;
}
#profile-card .buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.buttons .btn{
    margin: 6px 10px;
    border: none;
    background-color: rgb(69, 45, 74);
    color: white;
    padding: 5px 10px;
    border-radius: 24px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}
.buttons .btn:hover{
    background-color: rgb(86, 58, 91);
}
#profile-card .copyright{
    color: rgb(69, 45, 74);
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}
